@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.calculator {
	background: #2e343b;
}

.calculator__wrapper {
	display: flex;
	flex-direction: column;
	width: 1198px;
	margin: 0 auto;
	border-left: 1px solid #767575;
	border-right: 1px solid #767575;

	@media screen and (max-width: 1199px) {
		max-width: 940px;
	}
	@media screen and (max-width: 959px) {
		max-width: 620px;
	}
	@media screen and (max-width: 639px) {
		max-width: 460px;
	}
	@media screen and (max-width: 479px) {
		max-width: 300px;
	}
}

.calculator__main {
	display: grid;
	grid-template-columns: auto 810px;
	border-bottom: 1px solid #767575;

	@media screen and (max-width: 1199px) {
		grid-template-columns: 1fr;
	}
}

.calculator__inputs {
	display: flex;
	flex-direction: column;
	gap: 50px;
	padding: 34px 12px 34px 34px;

	@media screen and (max-width: 1199px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	@media screen and (max-width: 959px) {
		grid-template-columns: 1fr;
	}

	@media screen and (max-width: 479px) {
		padding: 10px;
	}
}

.calculator__input-wrapper {
	color: #f8f4ed;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: 155%;
	display: flex;
	flex-direction: column;

	label {
		margin-bottom: 20px;
	}

	@media screen and (max-width: 959px) {
		max-width: 380px;
	}

	@media screen and (max-width: 479px) {
		font-size: 13px;
	}
}

.calculator__range-track {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;

	input[type="range"] {
		-webkit-appearance: none;
		appearance: none;
		background: transparent;
		cursor: pointer;
		width: 327px;
		z-index: 2;

		@media screen and (max-width: 479px) {
			width: 280px;
		}
	}

	input[type="range"]:focus {
		outline: none;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		background-color: #ffffff;
		border-radius: 0px;
		height: 1px;
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none; /* Override default look */
		appearance: none;
		margin-top: -7.25px;
		background-color: #4f77ff;
		border-radius: 10px;
		height: 15px;
		width: 15px;
	}

	input[type="range"]:focus::-webkit-slider-thumb {
		outline: 3px solid #4f77ff;
		outline-offset: 0.125rem;
	}

	input[type="range"]::-moz-range-track {
		background-color: #ffffff;
		border-radius: 0px;
		height: 0.5px;
	}

	input[type="range"]::-moz-range-thumb {
		background-color: #4f77ff;
		border: none;
		border-radius: 10px;
		height: 15px;
		width: 15px;
	}

	input[type="range"]:focus::-moz-range-thumb {
		outline: 3px solid #4f77ff;
		outline-offset: 0.125rem;
	}
}

.calculator__range-steps {
	display: flex;
	justify-content: space-between;
	width: 337px;
	position: relative;
	left: -5px;

	@media screen and (max-width: 479px) {
		width: 290px;
		left: -5px px;
	}
}

.range-step {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 27px;

	div {
		width: 10px;
		height: 10px;
		background: #fff;
		top: -15.5px;
		border-radius: 10px;
		position: absolute;
		z-index: 1;
		pointer-events: none;
	}
}

.calculator__radio-title {
	margin-bottom: 20px;
}

.radio-img {
	margin-right: 20px;

	@media screen and (max-width: 479px) {
		margin-right: 10px;
		height: 20px;
	}
}

.calculator__example-img {
	width: 100%;
	margin-top: 82px;

	img {
		width: 100%;
	}

	@media screen and (max-width: 959px) {
		margin-top: 40px;
	}
}

.calculator__prices {
	background: #424447;
	padding: 58px 29px 26px 34px;
	display: grid;
	grid-template-columns: 1fr 1.2fr;
	gap: 48px;

	@media screen and (max-width: 959px) {
		grid-template-columns: 1fr;
	}

	@media screen and (max-width: 479px) {
		padding: 30px 10px;
		width: 298px;
	}
}

.calculator__h3-title {
	color: #4f77ff;
	font-family: "Manrope", Arial, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
	margin-bottom: 36px;

	@media screen and (max-width: 479px) {
		font-size: 20px;
	}
}

.calculator__parameter-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	gap: 5px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.calculator__parameter-value {
	display: flex;
	justify-content: space-between;
	color: #f8f4ed;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: 155%;

	@media screen and (max-width: 479px) {
		font-size: 13px;
	}

	sup {
		font-size: 7px;
		position: relative;
		top: -3px;
	}
}

.calculator__parameter-description {
	color: #f8f4ed;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 200;
	line-height: 155%;

	@media screen and (max-width: 479px) {
		font-size: 13px;
	}
}

.calculator__price-wrapper {
	margin-bottom: 10px;

	&_margin {
		margin-bottom: 90px;

		@media screen and (max-width: 479px) {
			margin-bottom: 25px;
		}
	}

	&:last-of-type {
		margin-bottom: 54px;
	}
}

.calculator__price-value {
	color: #f8f4ed;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: 155%;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 479px) {
		font-size: 13px;
	}
}

p.calculator__price-description {
	color: #f8f4ed;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 200;
	line-height: 155%;

	@media screen and (max-width: 479px) {
		font-size: 13px;
	}
}

.calculator__price-separator {
	background: #f8f4ed;
	width: 90%;
	height: 1px;
	display: block;
	margin-bottom: 20px;

	@media screen and (max-width: 479px) {
		width: 100%;
	}
}

.calculator__button {
	border-radius: 9px;
	background: #1624b0;
	width: 100%;
	display: flex;
	height: 70px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #f1f2f2 !important;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: 155%;
	transition: 0.2s;

	&:hover {
		transition: 0.2s;
		background: #303ede;
	}

	@media screen and (max-width: 479px) {
		font-size: 13px;
		height: 50px;
	}
}

.control {
	display: flex;
	position: relative;
	padding-left: 50px;
	padding-top: 0px;
	cursor: pointer;
	justify-content: space-between;
}
.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control_indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 20px;
	width: 20px;
	background: transparent;
	border: 2px solid #4f77ff;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
	background: #303ede;
}

.control input:checked ~ .control_indicator {
	background: #4f77ff;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
	background: #4f77ff;
}
.control input:disabled ~ .control_indicator {
	background: #4f77ff;
	opacity: 0.6;
	pointer-events: none;
}
.control_indicator:after {
	box-sizing: unset;
	content: "";
	position: absolute;
	display: none;
}
.control input:checked ~ .control_indicator:after {
	display: block;
}
.control-radio .control_indicator {
	border-radius: 50px;
}

.control-radio .control_indicator:after {
	left: 3px;
	top: 3px;
	height: 0px;
	width: 0px;
	border-radius: 50%;
	background: #fff;
	transition: background 250ms;
}
.control-radio input:disabled ~ .control_indicator:after {
	background: #4f77ff;
}

.calculator__additional {
	border-bottom: 1px solid #767575;
}

.calculator__title {
	color: #f1f2f2;
	font-family: "Manrope", Arial, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
	margin: 100px auto 44px 120px;

	span {
		color: #4f77ff;
	}

	@media screen and (max-width: 1199px) {
		margin: 100px auto 44px auto;
		text-align: center;
	}

	@media screen and (max-width: 959px) {
		font-size: 35px;
	}

	@media screen and (max-width: 479px) {
		font-size: 25px;
		width: 280px;
		margin: 30px 10px;
		text-align: left;
	}
}

.calculator__options {
	display: flex;
	flex-direction: column;
	padding: 0 34px;

	@media screen and (max-width: 479px) {
		padding: 0 10px;
	}
}

.calculator-option {
	margin-bottom: 80px;

	&:last-of-type {
		margin-bottom: 108px;
	}
}

.calculator__option-title {
	color: #f8f4ed;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: 155%;
	text-decoration-line: underline;
	margin-bottom: 24px;

	@media screen and (max-width: 479px) {
		font-size: 13px;
	}
}

.calculator__option-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;

	&:last-of-type {
		margin-bottom: 0;
	}

	@media screen and (max-width: 959px) {
		align-items: unset;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 40px;
	}
}

.calculator__option-left {
	position: relative;
	width: 50%;

	@media screen and (max-width: 959px) {
		width: 100%;
	}
}

.calculator__option-name {
	color: #f1f2f2;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: 155%;

	@media screen and (max-width: 479px) {
		font-size: 13px;
	}
}

.calculator__option-description {
	color: #f1f2f2;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 200;
	line-height: 155%;
	position: absolute;

	@media screen and (max-width: 959px) {
		position: relative;
	}

	@media screen and (max-width: 479px) {
		font-size: 13px;
	}
}

.calculator__option-right {
	display: flex;
	gap: 78px;
	align-items: center;

	@media screen and (max-width: 959px) {
		justify-content: space-between;
	}

	@media screen and (max-width: 479px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.calculator__option-price {
	color: #f1f2f2;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: 155%;

	@media screen and (max-width: 479px) {
		font-size: 13px;
	}
}

.calculator__option-quantity {
	display: grid;
	width: 160px;
	height: 60px;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	border-radius: 5px;
	background: #424447;

	@media screen and (max-width: 959px) {
		width: 140px;
		height: 50px;
	}

	@media screen and (max-width:479px) {
		width: 100%;
		height: 30px;
	}

	button,
	a {
		color: #f8f4ed !important;
		font-family: "Manrope", Arial, sans-serif;
		font-size: 50px;
		font-style: normal;
		font-weight: 400;
		line-height: 1;
		background: no-repeat;
		border: none;
		outline: none;
		width: 100%;
		height: 100%;
		cursor: pointer;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (max-width: 479px) {
			font-size: 13px;
		}
	}

	p {
		color: #f8f4ed;
		font-family: "Manrope", Arial, sans-serif;
		font-size: 30px;
		font-style: normal;
		font-weight: 400;
		line-height: 130%;

		@media screen and (max-width: 479px) {
			font-size: 13px;
		}
	}
}

.hiddenCart {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
